# Flutter-related files
/.dart_tool/
/.build/
/.packages
.pub/
/.idea/
/linux/
/windows/
/macos/
/android/.gradle/
/android/app/debug/
/android/app/profile/
/android/local.properties
/android/*.iml
/ios/Pods
/ios/.symlinks/
/ios/Flutter/Flutter.framework/
/ios/Flutter/App.framework/
/ios/Flutter/Flutter.podspec

# Editor configuration files
*.iml
*.ipr
*.iws
*.swp

# macOS specific
.DS_Store

# Windows specific
Thumbs.db

# IntelliJ/Android Studio
/.idea/
/.vscode/

# Flutter-specific build directories
build/
.flutter-plugins
.flutter-plugins-dependencies


# Environment
.env
.env.*